[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
sqlalchemy = "*"
fastapi = "*"
greenlet = "*"
pydantic = "*"
pydantic-settings = "*"
uvicorn = "*"
asyncpg = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.12"
